.total{
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 50px;
}
.btn-publish{
    float: right;
    margin-bottom: 20px;
}
.img-size-my{
    width: 45px;
    height: 45px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.mylist{
    margin-top: 22px;
}
.my-img{
    height: 30px;
    width: 30px;
}